#container {
    display: flex;
    border: 1px pink solid;
    /* Set total size of grid */
    height: 960px;
    width: 960px;
}

#container>div>div {
    /* Custom properties */
    --square-height: calc(960px / 16);
    --square-width: calc(960px / 16);

    height: var(--square-height, 60px); /* Include fallback value */
    width: var(--square-width, 60px);   /* Include fallback value */
}

/* CSS class to fill color on hovered square */
.colored {
    background-color: grey;
}

button {
    margin: 20px;
    padding: 10px;
}